/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-academy-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -87px 0px;
  width: 77px;
  height: 77px;
}
.icon-academy-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -261px;
  width: 65px;
  height: 65px;
}
.icon-academy-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px -177px;
  width: 49px;
  height: 49px;
}
.icon-address {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -383px -300px;
  width: 19px;
  height: 25px;
}
.icon-astv-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -87px;
  width: 77px;
  height: 77px;
}
.icon-astv-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -336px;
  width: 65px;
  height: 65px;
}
.icon-astv-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -336px;
  width: 49px;
  height: 49px;
}
.icon-aviashelf-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -174px 0px;
  width: 77px;
  height: 77px;
}
.icon-aviashelf-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -336px;
  width: 65px;
  height: 65px;
}
.icon-aviashelf-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -59px -411px;
  width: 49px;
  height: 49px;
}
.icon-email {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -261px;
  width: 27px;
  height: 17px;
}
.icon-fb {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px -354px;
  width: 44px;
  height: 44px;
}
.icon-in {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -342px -411px;
  width: 43px;
  height: 43px;
}
.icon-inetShop-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -174px -174px;
  width: 77px;
  height: 77px;
}
.icon-inetShop-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -348px -75px;
  width: 65px;
  height: 65px;
}
.icon-inetShop-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -118px -411px;
  width: 49px;
  height: 49px;
}
.icon-molute-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -261px -87px;
  width: 77px;
  height: 77px;
}
.icon-molute-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px 0px;
  width: 49px;
  height: 49px;
}
.icon-molute-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -225px -261px;
  width: 65px;
  height: 65px;
}
.icon-orbita-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 77px;
  height: 77px;
}
.icon-orbita-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -348px -150px;
  width: 65px;
  height: 65px;
}
.icon-orbita-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px -295px;
  width: 49px;
  height: 49px;
}
.icon-phone {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -348px -300px;
  width: 25px;
  height: 25px;
}
.icon-sakhodb-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -261px -174px;
  width: 77px;
  height: 77px;
}
.icon-sakhodb-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -348px 0px;
  width: 65px;
  height: 65px;
}
.icon-sakhodb-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -359px -336px;
  width: 49px;
  height: 49px;
}
.icon-sakhtrade-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -261px 0px;
  width: 77px;
  height: 77px;
}
.icon-sakhtrade-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -261px;
  width: 65px;
  height: 65px;
}
.icon-sakhtrade-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px -118px;
  width: 49px;
  height: 49px;
}
.icon-send {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -288px;
  width: 13px;
  height: 11px;
}
.icon-serebro-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -174px -87px;
  width: 77px;
  height: 77px;
}
.icon-serebro-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -75px -336px;
  width: 65px;
  height: 65px;
}
.icon-serebro-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -411px;
  width: 49px;
  height: 49px;
}
.icon-skigv-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -87px -87px;
  width: 77px;
  height: 77px;
}
.icon-skigv-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -225px -336px;
  width: 65px;
  height: 65px;
}
.icon-skigv-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -177px -411px;
  width: 49px;
  height: 49px;
}
.icon-tw {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -236px -411px;
  width: 43px;
  height: 43px;
}
.icon-vk {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -289px -411px;
  width: 43px;
  height: 43px;
}
.icon-zoo-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -87px -174px;
  width: 77px;
  height: 77px;
}
.icon-zoo-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -348px -225px;
  width: 65px;
  height: 65px;
}
.icon-zoo-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px -59px;
  width: 49px;
  height: 49px;
}
.icon-zoogarden-big {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -174px;
  width: 77px;
  height: 77px;
}
.icon-zoogarden-medium {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -75px -261px;
  width: 65px;
  height: 65px;
}
.icon-zoogarden-small {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -423px -236px;
  width: 49px;
  height: 49px;
}
