
    <div class="row" role="main">
        <div class="col-lg-12">
            <header class="header">
                <h1 class="header__title">О студии</h1>
            </header>
            <div class="clearfix">
                <div class="col-md-5 col-xs-12">
                    <p>Нами движет желание создать лучший продукт. Мы знаем что большая часть успеха проекта зависит от совместной работы с заказчиком, мы стараемся найти правильное решение,  а не просто выполняем всё, что хочется клиенту.</p>
                    <p>Необходимости в офисе у нас просто нет — команда специалистов качественно и своевременно выполняют поставленные задачи.</p>
                    <p>Мы действительно любим то, что мы делаем, и получать удовольствие от процесса.</p>
                </div>
                <div class="personal col-md-7 col-xs-12">
                    <div class="personal__description">
                        <h2>Сотрудники</h2>
                        <p>РитмАрт — это творчески одаренные люди, профессионалы своего дела.</p>
                    </div>
                    <div>
                        <ul class="personal__list">
                            <li class="personal__item">
                                <figure>
                                    <div class="personal__photo personal__photo--circle">
                                        <img src="" alt=""/>
                                    </div>
                                    <figcaption>
                                        <h5 class="personal__name">Ольга Федосова</h5>
                                        <h5 class="personal__post">Арт-директор</h5>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="personal__item">
                                <figure>
                                    <div class="personal__photo personal__photo--rhombus">
                                        <img src="" alt=""/>
                                    </div>
                                    <figcaption>
                                        <h5 class="personal__name">Ксения Денякова</h5>
                                        <h5 class="personal__post">frontend</h5>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="personal__item">
                                <figure>
                                    <div class="personal__photo personal__photo--square">
                                        <img src="" alt=""/>
                                    </div>
                                    <figcaption>
                                        <h5 class="personal__name">Юрий Маслов</h5>
                                        <h5 class="personal__post">backend</h5>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->