<div class="row" role="main">
    <div class="col-lg-12">
        <header class="header">
            <h1 class="header__title">Дизайн-проекты
                <span class="header__description">*В разделе представлены проекты, созданные нашими сотрудниками во время работы в других фирмах</span>
            </h1>
        </header>
        <div class="projects">
            <ul class="projects-list__navigation">
                <li class="projects-list__page projects-list__page--small"></li>
                <li class="projects-list__page projects-list__page--medium"></li>
                <li class="projects-list__page projects-list__page--big"></li>
                <li class="projects-list__page projects-list__page--medium"></li>
                <li class="projects-list__page projects-list__page--small"></li>
                <li class="projects-list__page projects-list__page--small"></li>
            </ul>
            <div class="projects-list">
                <div class="project">
                    <div class="project__preview">
                        <img src="" alt=""/>
                        <a href="#" class="project__link"></a>
                    </div>
                    <div class="project__description">
                        <div class="project__name">
                            <a href="#">Горный воздух</a>
                        </div>
                        <div class="project__inner-text">
                            <p>Cайт Сахалинской областной специальной библиотеки для слепых.
                                Редизайн устаревшего сайта библиотеки для слепых.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>