footer {
  background-color: $gray;

  //Контэйнер
  .flex {
    @media (min-width: $screen-md) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-lg) {
      margin: 0 -20px;
    }
    @media (min-width: $screen-lg) {
      margin: 0 -40px;
    }
  }

  //Общие стили для четырёх блок в подвале (О нас, Заявка, Соцсети, Контакты)
  .about, .feedback, .social, .contacts {
    padding: 15px 20px;
    @media (min-width: $screen-lg) {
      padding: 15px 40px;
    }
    border-left: 1px solid darken($gray, 10%);
    @media (max-width: $screen-sm) {
      border-left: none;
    }
  }
  @media (max-width: $screen-md) and (min-width: $screen-sm) {
    .social, .contacts {
      border-top: 1px solid darken($gray, 10%);
    }
  }

  //Текстовый блок О нас
  .about {
    border-left: none;
  }

  //Форма обратной связи
  .feedback {
    &__form {

    }
    &__input, &__textarea {
      margin-bottom: 18px;
      padding: 5px 10px 5px 15px;
      height: 40px;
      background-color: transparent;
      @include placeholder(#808080);
      border-radius: 0;
      color: $gray-base;
      font-size: 16px;
      @include transition(all .4s linear);
      &:focus {
        @include box-shadow(none);
        background-color: #fff;
        border-color: $gray-dark;
        outline: none;
      }
    }
    &__textarea {
      height: 115px;
    }
    &__button {
      position: relative;
      padding: 6px 27px;
      border: none;
      background-color: #fff;
      font: {
        size: $font-size-large;
        weight: bold;
        family: $font-family-sans-serif-narrow;
      }
      z-index: 2;
      &-wrap {
        position: relative;
      }
      &--icon-send {
        position: relative;
        left: -100px;
        padding: 13px 14px 10.4px;
        background: #fff;
        z-index: 1;
        @include transition(left .3s linear);
        &:after {
          display: inline-block;
          content: '';
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -300px -288px;
          width: 13px;
          height: 11px;
        }
      }
      &:hover, &:focus {
        & + .feedback__button--icon-send {
          left: -1%;
        }
      }
    }
  }

  //Ссылки на социальные сети
  .social {
    @media (max-width: $screen-md) {
      border-left: none;
    }
    &__list {
      margin: 0 -4px;
      @media (min-width: $screen-lg) {
        margin: 0 -7px;
      }
    }
    &__item {
      float: left;
      margin: 0 4px;
      @media (min-width: $screen-lg) {
        margin: 0 7px;
      }
      a {
        display: inline-block;
        @include gray;
        @include transition(all .3s linear);
        &:hover, &:focus {
          @include colour;
        }
      }
    }
  }

  //Контакты
  .contacts {
    &__block {
      padding-left: 40px;
      position: relative;
      h5 {
        text-transform: uppercase;
        margin: 23px 0 6px;
        font-weight: bold;
      }
      p {
        margin-bottom: 3px;
      }
      a, a:visited {
        color: $gray-base;
      }
      a[href*='mailto'] {
        color: $pink;
      }
      &:before {
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
      }
      &--address {
        &:before {
          top: -5px;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -383px -300px;
          background-repeat: no-repeat;
          width: 19px;
          height: 25px;
        }
      }
      &--telephones {
        &:before {
          top: -5px;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -348px -300px;
          width: 25px;
          height: 25px;
        }
      }
      &--email {
        &:before {
          top: 0;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -300px -261px;
          width: 27px;
          height: 17px;
        }
      }
    }
  }
}