html, body {
  height: 100%;
}

body {
  font-size: 15px;
  background-color: #fff;
  font-family: $font-family-sans-serif;
  &.overflow {
    overflow: hidden;
  }
}

header {
  .overlay-menu {
    display: none;
    position: fixed;
    @include square(100%);
    background-color: rgba(52, 43, 52, 0.95);
    overflow: hidden;
    @include translate3d(0,-100%,0);
    z-index: 100;
    @include transition(all .4s ease);
    &__wrap {
      display: table;
      position: absolute;
      left: 0;
      right: 0;
      @include square(100%);
      text-align: center;
    }
    &__items {
      display: table-cell;
      vertical-align: middle;
    }
    &__item {
      margin: 15px 0;
      a, a:active {
        display: block;
        padding: 10px 0;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        font: {
          size: 50px;
          family: $font-family-sans-serif-narrow;
          weight: lighter;
        }
        &:hover, &:focus {
          text-decoration: none;
          outline: none;
        }
      }

      //animate menu item
      a {
        position: relative;
        height: 100%;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -1.25em;
          @include size(2.5em, 1px);
          background-color: $pink;
          @include opacity(.1);
          z-index: -1;
          @include transition(all 0.2s, background-color 0s, width 0.2s, height 0.2s 0.2s);
        }
        &:hover {
          &:after {
            content: "";
            @include square(100%);
            top: 0;
            left: 0;
            margin-left: 0;
            background-color: $pink;
            /*-webkit-transform: skewY(2deg);
            -moz-transform: skewY(2deg);
            -ms-transform: skewY(2deg);
            -o-transform: skewY(2deg);
            transform: skewY(2deg);*/
            @include opacity(1);
          }
        }
      }
    }
  }
  nav {
    position: relative;
    padding-top: 50px;
    z-index: 101;
    .logo {
      position: absolute;
      @include transition(all .4s ease);
      &.invert {
        -webkit-filter: invert(100%) hue-rotate(135deg);
      }
    }
    .menu-button {
      float: right;
      position: relative;
      @include square(52px);
      &__circle {
        path {
          fill: none;
          stroke-width: 2px;
          stroke: #fff;
          stroke-dashoffset: 157;
          stroke-dasharray: 157;
          @include transition(all 0.6s);
        }
      }
      &__bars {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -9px;
        margin-left: -15px;
      }
      &__bar {
        position: relative;
        @include size(30px, 4px);
        margin: 0 auto 4px;
        background-color: #000;
        @include transition(all .3s linear);
      }
      &:hover {
        cursor: pointer;
      }
      &-active {
        path {
          stroke-dashoffset: 0;
        }
        .menu-button__bar.bar1 {
          top: 7px;
          background-color: $pink;
          @include rotate(-45deg);
        }
        .menu-button__bar.bar2 {
          @include opacity(0);
        }
        .menu-button__bar.bar3 {
          top: -9px;
          background-color: $pink;
          @include rotate(45deg);
        }
      }
    }
  }
}

.page-wrapper.project__page {
  position: relative;
  overflow: hidden;
  > main {
    position: relative;
    z-index: 5;
    .projects {
      position: relative;
      .project {
        overflow: hidden;
        height: 100vh;
        &__wrap {
          padding: 100px 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

main {
  min-height: 600px;
  .header {
    text-align: center;
    &__wrapper {
      position: relative;
      top: 50%;
      margin-top: -214px;
    }
    &__title {
      display: inline-block;
      padding: 10px 0;
      border-top: 10px solid #e0e0e0;
      border-bottom: 10px solid #e0e0e0;
      text-transform: uppercase;
      @media (max-width: $screen-sm) {
        font-size: 42px;
      }
      @media (min-width: $screen-sm) {
        font-size: 50px;
      }
      @media (min-width: $screen-md) {
        font-size: 70px;
      }
      @include transition(all .3s ease);
    }
    &__description {
      color: #8f8f8f;
      @media (max-width: $screen-sm) {
        font-size: 14px;
      }
      @media (min-width: $screen-md) {
        font-size: 20px;
      }
      @include transition(all .3s ease);
    }
  }
  .projects {
    padding: 40px 0;
    &-list {
      &__page {
        &--small {

        }
        &--medium {

        }
        &--big {

        }
      }
      .project {
        position: relative;
        &__link {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          @include square(55px);
          padding: 9px 0 0 0;
          margin: -24px 0 0 -21px;
          border: 3px solid #fff;
          border-radius: 50%;
          text-align: center;
          font-size: ceil($font-size-base*2);
          color: #fff;
          @include opacity(0);
          @include transition(opacity .3s ease-in-out);
          &:hover, &:focus, &:visited, &:active {
            text-decoration: none;
          }
        }
        &__preview {
          position: relative;
          float: left;
          &:before {
            content: '';
            @include stretch;
            background-color: rgba(0, 0, 0, .5);
            @include opacity(0);
            @include transition(all .3s ease-in-out);
          }
          img {
            position: relative;
            max-width: 100%;
            @include box-shadow(0px 0px 9px 2px rgba(0, 0, 0, 0.3));
          }
          &--hidden {
            display: none;
            @include opacity(0);
          }
          &:hover {
            &:before, .project__link {
              @include opacity(1);
            }
          }
          &--border {
            position: absolute;
            z-index: -1;
            left: 29%;
            top: -20px;
            @include square(100%);
            overflow: visible;
            @include rotate(-180deg);
            path {
              fill: none;
              stroke-width: .4px;
              stroke: $blue;
              @include transition(all 0.6s);
            }
          }
        }
        &__description {
          position: absolute;
          bottom: 55px;
          right: 0;
          width: 45%;
          padding: 3px 21px 18px;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: -15px;
            top: -12px;
            @include size(223px, 215px);
            background-color: rgba(255, 159, 192, 0.86);
            border-radius: 50%;
            z-index: 0;
          }
          > div {
            position: relative;
          }
        }
        &__name {
          h2 {
            font-size: 5em;
            margin-bottom: 0;
            a {
              color: $gray-base;
              &:hover, &:focus, &:active, &:visited {
                color: $gray-base;
                text-decoration: none;
              }
            }
          }
        }
        &__inner-text {
          padding-left: 30px;
          line-height: 1.8;
        }
      }
    }
  }
}